
@overall-size: 1024px;
@map-size: 256px;
@map-tile-height: 16;
@map-cell-width: ((@map-tile-height / @map-size) * @overall-size);

html {
  background: #e0e0e0;
}

body {
  margin: 0; padding: 0;
  width: @overall-size; height: @overall-size;
  background-image: url(0.png);
  background-size: 100% 100%;
  background-position: center center;
}

div {
  width: @map-cell-width;
  height: @map-cell-width;
  float: left;
}

div div {
  margin: 0;
  padding: 0.25em;
  border: (@map-cell-width * 0.045) solid red;
  width: (@map-cell-width) - ((@map-cell-width * 0.1) * 2.0);
  height: (@map-cell-width) - ((@map-cell-width * 0.1) * 2.0);
}
